:host  {
    --modalHeight: 20rem;
    --lwc-widthDualBox:1.5rem;
  }
  
  
.slds-modal__container {
    width: 50% !important;
    max-width: 40rem !important;
}


.slds-modal__container .slds-modal__content {
    max-height: var(--modalHeight) !important;
}

hr {
    margin: 10px 0 !important;
}

.loyalty-remove-label .label-hidden > label {
    display: none;
}

.loyalty-summary {
    min-height: 350px;
    
}